@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body::before {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  inset: 0;
  z-index: -10;
  background-image: url("../../public/background/circleGrid.svg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  filter: blur(0.5rem);
  overflow: hidden;
}
